
/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}
body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
	margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */
.main-nav {
	display: flex;

}

/* ---- Layout Containers ---- */

.main-header {
	display: flex;
	justify-content: space-between
}



/* ---- Page Elements ---- */


/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {

}
@media (min-width: 1025px) {
	
}